html {
    display: block;
    padding: 0 0 0 0;
    margin: 0;
}

body {
    background-color: #606060;
    padding: 0 0 0 0;
    margin: 0;
}

/*NAV*/
.Navbar {
   width: 100%;
   background-color: #606060;
   height: 60px;
   position: fixed;
   /*to be removed*/
   border-bottom: 2px solid black;
   top: 0;
   left: 0;
   margin-right: 0px;
   margin-left: 0px;
   z-index: 9;
}

.logo-container {
    height: 100px;
    width: 100px;
    top: 0;
    float: left;
}

#logo {
   max-width: 100%;
   height: auto;
}

.nav-container {
    float: right;
    width: 30%;
    padding-top: 20px;
    word-spacing: 41px;
    
}

a {
    text-decoration: none;
    color: white;
    padding-top: 30px;
    margin-top: 30px;
    font-family: 'Arial Bold';
}

/*HOME*/
.bg-img {
    background-image: url('../images/GC.jpeg');
    left: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    width: 100%;
}

.home-text {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: 'Arial Bold';
    padding-bottom: 100px;
}

.home-p {
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Helvetica';
}

.container {
    height: 200px;
    position: relative;
    padding-bottom: 100px;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  button {
      padding: 20px 40px 20px 40px;
      font-family: 'Arial Bold';
      background-color: gold;
      color: white;
      font-size: 20px;
      font-weight: 900;
  }


  /*About*/

.about-container {
    background-color: #606060;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    height: 600px;
}

.about-text {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-family: 'Arial Bold';
}

.col-left {
    height: 269px;
    width: 179px;
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}

#hikers {
    max-width: 100%;
    height: auto;
}

.col-right {
    height: 250px;
    width: 400px;
    float: left;
    padding-left: 200px;
    margin-left: 0px;
    
}

.about-p {
    color: white;
    font-size: 18pt;
    font-family: 'Helvetica';
    max-width: 100%;
    height: auto;
}

  /*BOOK*/

.book-container {
    background-color: #8e8e8e;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    height: 600px;
}

.book-text {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-family: 'Arial Bold';
}

.altcol-left {
    height: 267px;
    width: 204px;
    float: left;
    padding-left: 100px;
    padding-top: 30px;
}

#GC2 {
    max-width: 100%;
    height: auto;
}

.altcol-right {
    height: 250px;
    width: 400px;
    float: left;
    padding-left: 200px;
    margin-left: 0px;
}

.book-p {
    color: white;
    font-size: 18pt;
    font-family: 'Helvetica';
    max-width: 100%;
    height: auto;
}

.containerB {
    height: 200px;
    position: relative;
    padding-bottom: 100px;
  }
  
  .vertical-centerB {
    margin: 0;
    position: absolute;
    padding-top: 950px;
    left: 42%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

    /*MOTION*/
    .wobble-hor-bottom {
        -webkit-animation: wobble-hor-bottom 0.8s infinite both;
        animation: wobble-hor-bottom 0.8s infinite both;
    }
    
    /* ----------------------------------------------
     * Generated by Animista on 2021-7-22 11:13:43
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */
    
    /**
     * ----------------------------------------
     * animation wobble-hor-bottom
     * ----------------------------------------
     */
     @-webkit-keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
                  transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      @keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
                  transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      
    