#modern {
    font-family: Helvetica;
}

#goofy {
    font-family: 'Happy Monkey', serif;
}

#professional {
    font-family: Rockwell; 
}

#old-fashioned {
    font-family: 'Pirata One', serif;
}

#artistic {
    font-family:'Akronim', serif;
}