#modern {
    font-family: Helvetica;
}

#goofy {
    font-family: ;
}

#professional {
    font-family: Rockwell; 
}

#old-fasioned {
    font-family: Carnivalee-Freakshow;
}

#artistic {
    font-family:;
}